/* --- Retro Style --- */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* --- Start Screen --- */
#arcadeStartScreen {
    position: fixed;
    top: -40px;
    left: -40px;
    width: 98%;
    height: 96.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: radial-gradient(circle at center, #15001a, #02010a 70%, #000000 100%);
    font-family: 'Press Start 2P', monospace;
    color: #ffeb3b;

    border-radius: 100px;
    border: 50px solid #000080;
  
    box-shadow:
      0 0 20px #000080,
      0 0 35px #0B0B45,
      inset 0 0 30px rgba(0, 100, 255, 0.6),
      inset 0 0 60px rgba(0, 100, 255, 0.3);

    z-index: 9999;
    pointer-events: auto;

    animation: crtFlicker 0.2s infinite alternate;
}

/* TV Static */
#arcadeStartScreen::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: -10px;
    background-image: radial-gradient(white 0.5px, transparent 0.5px);
    background-size: 3px 3px;
    opacity: 0.3;
    animation: starsMove 60s linear infinite;
}

#arcadeTitle {
    font-size: 2.2em;
    color: red;
    text-shadow:
        0 0 5px #692222,
        0 0 10px #ff0000,
        0 0 20px #ff0000;
    margin-bottom: 30px;
}

#arcadeSubtitle {
    font-size: 1.1em;
    color: cyan;
    text-shadow:
        0 0 5px cyan,
        0 0 10px #0099ff;
    margin-bottom: 60px;
}

#pressStart {
    font-size: 1.1em;
    animation: blink 0.8s infinite steps(2);
}

/* --- Main Screen --- */
body {
  margin: 0;
  overflow: hidden;
  font-family: 'Press Start 2P', monospace;
  color: #0f0;
  text-shadow: 0 0 6px #0f0;
}

#arcade-screen {
    position: fixed;
    top: -40px;
    left: -40px;
    width: 98%;
    height: 96.5%;
  
    pointer-events: none;
   
    border-radius: 100px;
    border: 50px solid #000080;
  
    box-shadow:
      0 0 20px #000080,
      0 0 35px #0B0B45,
      inset 0 0 30px rgba(0, 100, 255, 0.6),
      inset 0 0 60px rgba(0, 100, 255, 0.3);
}
  
#arcade-screen::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: -10px;
    background-image: radial-gradient(white 0.5px, transparent 0.5px);
    background-size: 3px 3px;
    opacity: 0.3;
    animation: starsMove 60s linear infinite;
}


/* --- UI Text --- */
#ui, #group-id {
  position: absolute;
  padding: 8px 12px;
  background: rgba(0,0,0,0.5);
  border: 2px solid #0f0;
  box-shadow: 0 0 8px #0f0;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 2px;
}

/* Top-left UI */
#ui {
  top: 20px;
  left: 25px;
}

/* Top-right group ID */
#group-id {
  top: 20px;
  right: 25px;
  color: cyan;
  border-color: cyan;
  text-shadow: 0 0 6px cyan;
  box-shadow: 0 0 10px cyan;
}

/* --- End Message --- */
#end {
  display: none;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #f00;
  text-shadow: 0 0 12px rgb(155, 4, 4), 0 0 24px red;
}

/* --- Level Message --- */
#difficulty {
  display: none;
  position: absolute;
  top: 80%;
  width: 100%;
  text-align: center;
  font-size: 2.2em;
  color: #0ff;
  text-shadow: 0 0 10px #0ff;
}

/* --- Point Meassage --- */
#hitMessage {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  color: red;
  text-shadow: 0 0 10px red, 0 0 20px red;
  font-weight: bold;
  display: none;
  z-index: 1000;
}

#pointLoss {
    position: absolute;
    top: 47%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 0.5em;
    color: red;
    text-shadow: 0 0 10px rgb(182, 2, 2), 0 0 20px red;
    font-weight: bold;
    display: none;
    z-index: 1000;
}

#pointGain {
    position: absolute;
    top: 47%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 0.5em;
    color: #0f0;
    text-shadow: 0 0 10px green, 0 0 20px green;
    font-weight: bold;
    display: none;
    z-index: 1000;
}

/* --- Buttons --- */
button {
  margin-top: 10px;
  padding: 8px 20px;
  background: black;
  color: #0f0;
  border: 3px solid #0f0;
  font-family: 'Press Start 2P', monospace;
  text-shadow: 0 0 8px #0f0;
  cursor: pointer;
  transition: 0.15s;
  border-radius: 4px;
}

button:hover {
  background: #0f0;
  color: black;
  text-shadow: none;
  box-shadow: 0 0 12px #0f0;
  transform: scale(1.1);
}

button:active {
  transform: scale(0.95);
}

#restartButton {
    animation: blink 1s infinite steps(2);
}

#restartButton:hover {
    animation: none;
}

/* --- Key Frames --- */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes crtFlicker {
    0% { opacity: 0.97; }
    100% { opacity: 1; }
}

@keyframes starsMove {
    0% { transform: translateY(0); }
    100% { transform: translateY(-600px); }
}
